body {
    background-color: yellowgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-style: double;
}

button {
    background-color: aliceblue ;
    color: black;
    border: 2px solid #000000;
    font-size: 30px;
}
